GEMINI_API_KEY=AIzaSyBxsgHyvHTbIt93k91NW4ipYhb9O0lbvBI
STRIPE_SECRET_KEY=sk_test_51SUqz7PsThCQGaUsEUehnBwOXZCniJVj29NcqclE4YkxOc9oYEczBHVgj3WuDEWNLMi5XMcA89YoLqeKaPbTxzR6005MHP1atU
STRIPE_WEBHOOK_SECRET=whsec_...
PORT=3000
